{% extends "base.html" %}

{% block content %}
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child">
                        <p class="title">Gaussian Variables</p>
                        <p>
                            <table class="table" id="gauss-table">
                                <thead>
                                    <tr>
                                        <th>Variable</th>
                                        <th>Mu</th>
                                        <th>Sigma</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for var in vars %}
                                    <tr>
                                        <td>{{ var.name }} ({{ var.units }})</td>
                                        <td><input class="input" type="text" value="{{ var.defaults[0] }}"></td>
                                        <td><input class="input" type="text" value="{{ var.defaults[1] }}"></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </p>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title">Rocket file upload</p>
                    <p class="subtitle">Remember to use an .ork tested in the given OpenRocket.jar.</p>
                    <div class="content">
                        <div class="file has-name is-right is-fullwidth">
                            <label class="file-label">
                                <input class="file-input" type="file" id="rocket-file">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fa fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a file…
                                    </span>
                                </span>
                                <span class="file-name" id="rocket-file-name">
                                    No file selected.
                                </span>
                            </label>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-info">
                <div class="content">
                    <p class="title">Timeseries Data</p>
                    <p class="subtitle">Eg, what additional data to record.</p>
                    <div class="content">
                        <div id="checkboxes">
                            {% for param in params %}
                            <label class="checkbox">
                                <input type="checkbox">
                                {{ param }}
                            </label><br />
                            {% endfor %}
                        </div>
                        <br />
                        <div class="field">
                            <label class="label" style="color:#fff">Maximum Iterations:</label>
                            <div class="control">
                                <input class="input" type="text" id="iterations-field" placeholder="10"></input>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <div class="field has-addons" style="float:right">
        <p class="control">
            <input class="input" id="password-field" type="password" placeholder="Password">
        </p>
        <p class="control">
            <button id="submit" class="button is-success">
                <span class="icon">
                    <i class="fa fa-rocket"></i>
                </span>
                <span>Run Simulation</span>
            </button>
        </p>
    </div>
{% endblock %}


{% block script %}
    var file = document.getElementById("rocket-file");
    var file_selected = false;
    file.onchange = function() {
        if (file.files.length > 0) {
            document.getElementById('rocket-file-name').innerHTML = file.files[0].name;
            file_selected = true;
        }
    };

    function getGauss() {
        var table = document.getElementById("gauss-table");
        var values = []
        for (var i = 1, row; row = table.rows[i]; i++) {
            for (var j = 0, col; col = row.cells[j]; j++) {
                if (j==0) values.push({'name':col.innerText});
                else {
                    if (isNaN(parseFloat(col.childNodes[0].value))) {
                        alert_error("Field '" + values[i-1]['variable'].toLowerCase() + "' is not correctly set.")
                        return null
                    }
                    values[i-1][j==1?'mu':'sigma'] = parseFloat(col.childNodes[0].value)
                }
            }
        }
        return values
    }

    function getParams() {
        var checkboxes = document.getElementById("checkboxes");
        var values = []
        for (var i=0; i<checkboxes.children.length; i+=2) {
            if (checkboxes.children[i].children[0].checked) values.push(checkboxes.children[i].innerText.trim());
        }

        return values;
    }

    function getPassword() {
        return document.getElementById("password-field").value;
    }

    function getRocketFile() {
        var retFile = file.files[0];
        if (file_selected && retFile && retFile.name.split('.').pop() == "ork") return retFile;
        else {
            alert_error("Must upload a .ork file.");
            return null;
        }
    }

    function getIterations() {
        var val = parseInt(document.getElementById("iterations-field").value);

        if (isNaN(val)) {
            alert_error("Must enter integer number of simulation iterations.");
            return null;
        } else return val;
    }

    var submit = document.getElementById("submit")
    submit.onclick = function() {
        var gauss, params, file, iters, password = getPassword();

        if ((gauss = getGauss()) && (params = getParams()) && (file = getRocketFile()) && (iters = getIterations())) {
            document.getElementById('warning').style.display='none';
            submit.className += " is-loading";

            var formData = new FormData();
            formData.append('gauss',JSON.stringify(gauss));
            formData.append('params',JSON.stringify(params));
            formData.append('iters',iters);
            formData.append('password',password);
            formData.append('ork',file);

            var request = new XMLHttpRequest();

            request.onreadystatechange = function() {
                if (request.readyState === 4) {
                    if (request.status === 200) location.reload(true);
                    else {
                        alert_error("Failed to start simulation.");
                        submit.className += submit.className.substring(0, submit.className.lastIndexOf(" "));
                    }
                }
            }

            request.open("POST", window.location.origin+"/start");
            request.send(formData);
        }
    }
{% endblock %}
